body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 99%);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(241, 81%, 10%);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 5px 3px hsl(239, 32%, 63%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
#display{
    width: 83%;
    padding: 10px;
    margin: 25px;
    height: 80px;
    border-radius: 10px;
    text-align: right;
    border-style: solid;
    border-color: hsl(240, 64%, 85%);
    border-width: 5px;
    color: rgb(31, 28, 28);
    font-size: 4rem;
    background-color: rgb(212, 255, 222);
}
button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: hsl(256, 16%, 18%);
    color: white;
    font-size: 3rem;
    cursor: pointer;    
}
button:hover{
    background-color: hsl(252, 15%, 25%);
}
button:active{
    background-color: hsl(252, 15%, 42%);
}
.operator-button{
    background-color: hsl(84, 78%, 38%);
}
.operator-button:hover{
    background-color: hsl(84, 88%, 56%);
}
.operator-button:active{
    background-color: hsl(84, 79%, 71%);
}
.clear-button{
    background-color: hsl(32, 86%, 45%);
}
.clear-button:hover{
    background-color: hsl(32, 79%, 54%);
}
.clear-button:active{
    background-color: hsl(32, 78%, 65%);
}